<!--TODO: REFACTOR-->
<% if (currentUser !== undefined) { %>
    <script>
    var currentUser = {
    id: '<%= currentUser.id %>',
    username: '<%= currentUser.username %>',
    email: '<%= currentUser.email %>',
    avatarUrl: '<%= currentUser.avatarUrl %>',
    firstName: '<%= currentUser.first_name %>',
    totalWork: '<%= currentUser.totalWork %>',
    createdAt: '<%= currentUser.createdAt %>',
    updatedAt: '<%= currentUser.updatedAt %>'
    };
    </script>
<% } %>

<div ng-include="'nav/index.tpl.html'"></div>
<div class="main-container" ui-view="main"></div>
<div ng-include="'footer/index.tpl.html'"></div>
